@charset "UTF-8";
/* global */
*, ::before, ::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html, body {
    background: rgb(0, 0, 0);
    color: white;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
html[lang="ko-KR"] {
    font-family: Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
}
:root {
    --sat: env(safe-area-inset-top);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
}
html {
    line-height: normal;
}
a {
    outline: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ol, ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline-start: 0px;
}
p {
    padding: 0px;
    margin: 0px;
}

h1, h3, p, hr {
    margin: 0px;
}

button, input, optgroup, select, textarea {
    line-height: normal;
}

input[type="button"], input[type="submit"], button {
    cursor: pointer;
    border: 0px none transparent;
    outline: none 0px;
    background: none;
    appearance: initial;
    padding: 0px;
}


em {
    font-style: normal;
}


/* body */
#root {
    width: 100%;
    height: 100%;
}

/* media query */
@media (min-width: 1250px){
	.navigation {
	    padding: 0 50px;
	}	
}

/* login part */

.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.navigation {
    padding: 0 50px;
    position: fixed;
    top: 0;
    z-index: 500;
    font-size: 14px;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    width: 100%;
    height: 72px;
    padding: 0 4%;
}
.navigation-image {
    position: relative;
    z-index: 10001;
    float: left;
    background: url("/swan_stream/images/logo.svg") 0 21px no-repeat;
    background-size: contain;
    width: 94px;
    height: 72px;
}
.navigation-sign-up-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: -11px;
    float: right;
}
.navigation-sign-up-area:before, .navigation-sign-up-area:after {
    content: " ";
    display: table;
}
.navigation-sign-up-area:after {
    clear: both;
}

.login-button {
    display: inline-block;
    background-color: #121218;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    line-height: 21px;
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    background: #fff;
    color: #121218;
    font-size: 13px;
    font-weight: 700;
    -webkit-letter-spacing: -0.3px;
    -moz-letter-spacing: -0.3px;
    -ms-letter-spacing: -0.3px;
    letter-spacing: -0.3px;
    padding: 5px 18px 6px;
    border-radius: 40px;
    margin: 23px 0 0;
}
.login-login-button {
    width: 100%;
    padding: 0px 0px 21px;
    border-bottom: 1px solid rgba(154, 151, 161, 0.2);
    margin: 16px 0px 0px;
}
.sign-up-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
input.sing-up-name[type="text"] {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: normal;
    border-color: rgba(154, 151, 161, 0.2);
}
input.sing-up-name[type="email"], 
input.sing-up-name[type="number"], 
input.sing-up-name[type="password"], 
input.sing-up-name[type="search"], 
input.sing-up-name[type="tel"], 
input.sing-up-name[type="text"] {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border-width: 1px 1px 0px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
}
.sing-up-name {
    width: 100%;
    padding: 10px 10px 10px 14px;
    border-radius: 4px 4px 0px 0px;
}
input.sign-up-email[type="email"] {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: normal;
    border-color: rgba(154, 151, 161, 0.2);
}
input.sign-up-email[type="email"], 
input.sign-up-email[type="number"], 
input.sign-up-email[type="password"], 
input.sign-up-email[type="search"], 
input.sign-up-email[type="tel"], 
input.sign-up-email[type="text"] {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border: 1px solid rgb(212, 212, 212);
}
.sign-up-email {
    width: 100%;
    padding: 10px 10px 10px 14px;
    border-radius: 0px;
}
input.sign-up-password[type="password"] {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: normal;
    border-color: rgba(154, 151, 161, 0.2);
}
input.sign-up-password[type="email"], 
input.sign-up-password[type="number"], 
input.sign-up-password[type="password"], 
input.css-13dydb2[type="search"], 
input.sign-up-password[type="tel"], 
input.sign-up-password[type="text"] {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
}
.sign-up-password {
    width: 100%;
    padding: 10px 10px 10px 14px;
    border-radius: 0px 0px 4px 4px;
}
.sign-up-document {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding: 0px 0px 0px 21px;
    cursor: pointer;
}
.sign-up-sign-up-button-click:disabled {
    opacity: 0.3;
}
.sign-up-sign-up-button-click {
    background-color: #F82F62;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    line-height: 51px;
    text-align: center;
    width: 100%;
    height: 52px;
    border-radius: 40px;
    font-size: 16px;
    line-height: 47px;
    height: 48px;
}

.sign-up-pay-HelpText {
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: -0.5px;
    text-align: center;
    opacity: 0.5;
}

.sign-up-page-bottom {
    position: absolute;
    right: 0;
    bottom: 1.3888888888888888vw;
    left: 0;
    z-index: 100;
    color: rgba(255,255,255,0.3);
    font-size: 0.8333333333333334vw;
    font-weight: 400;
    -webkit-letter-spacing: -0.034722222222222224vw;
    -moz-letter-spacing: -0.034722222222222224vw;
    -ms-letter-spacing: -0.034722222222222224vw;
    letter-spacing: -0.034722222222222224vw;
    text-align: center;
    padding: 0 3.4722222222222223vw;
}

.css-loei9u {
    color: rgba(255,255,255,0.7);
    white-space: pre-line;
}

.css-loei9u > em {
    font-weight: 700;
}
.company-info {
    display: inline-block;
    position: relative;
    vertical-align: top;
}