/* global */
*, ::before, ::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html, body {
    background: rgb(0, 0, 0);
    color: white;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
html[lang="ko-KR"] {
    font-family: Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
}
:root {
    --sat: env(safe-area-inset-top);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
}
html {
    line-height: normal;
}
a {
    outline: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ol, ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline-start: 0px;
}
p {
    padding: 0px;
    margin: 0px;
}
button, input, optgroup, select, textarea {
    line-height: normal;
}
input[type="button"], input[type="submit"], button {
    cursor: pointer;
    border: 0px none transparent;
    outline: none 0px;
    background: none;
    appearance: initial;
    padding: 0px;
}

/* body */
#root {
    width: 100%;
    height: 100%;
}

.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.navigation {
    position: fixed;
    top: 0;
    z-index: 500;
    font-size: 14px;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    width: 100%;
    height: 72px;
    padding: 0 4%;
}
.navigation-image {
    position: relative;
    z-index: 10001;
    float: left;
	background: url(/swan_stream/images/logo.svg) 0 21px no-repeat;
    background-size: contain;
    width: 200px;
    height: 150px;
}
.navigation-login-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: -11px;
    float: right;
}
.navigation-login-area:before, .navigation-login-area:after {
    content: " ";
    display: table;
}
.navigation-login-area:after {
    clear: both;
}
.login-button {
    display: inline-block;
    background-color: #121218;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    line-height: 21px;
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    background: #fff;
    color: #121218;
    font-size: 13px;
    font-weight: 700;
    -webkit-letter-spacing: -0.3px;
    -moz-letter-spacing: -0.3px;
    -ms-letter-spacing: -0.3px;
    letter-spacing: -0.3px;
    padding: 5px 18px 6px;
    border-radius: 40px;
    margin: 23px 0 0;
}

/* media query */
@media (min-width: 1250px){
	.navigation {
	    padding: 0 50px;
	}	
}

/* login part */
.login-area {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #000;
}
.login-area-image {
    height: 100vh;
}
.login-area-image::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: url("/swan_stream/images/login/login.webp") center center / cover no-repeat;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 500ms ease 0s;
}
.login-area-image::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: rgb(18, 18, 24);
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.login-box {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.login-content {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 300px;
}
.login-content > p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin: 15px 0px 13px;
    opacity: 0.6;
}
.login-content-top {
    display: flex;
    align-items: flex-start;
    margin: 0px 0px 14px;
}
.login-content-top > span {
    flex: 1 1 0%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
}
.login-content-top > a {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.4px;
    padding: 4px 0px 0px;
    opacity: 0.5;
}
.login-content-middle {
    position: relative;
    width: 100%;
}
input.login-email[type="email"] {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: normal;
    border-color: rgba(154, 151, 161, 0.2);
}
.login-email {
    width: 100%;
    padding: 10px 44px 10px 14px;
    border-radius: 4px 4px 0px 0px;
}
.login-content-middle::after {
    content: "";
    display: inline-block;
	background: url(/swan_stream/images/login/check.svg) no-repeat;
    position: absolute;
    top: 50%;
    right: 12px;
    bottom: auto;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
input.login-email[type="email"],
input.login-email[type="number"],
input.login-email[type="password"],
input.login-email[type="search"],
input.login-email[type="tel"],
input.login-email[type="text"] {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border-width: 1px 1px 0px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
}

input.login-password[type="password"] {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: normal;
    border-color: rgba(154, 151, 161, 0.2);
    border-top-width: 1px;
}
input.login-password[type="email"],
input.login-password[type="number"],
input.login-password[type="password"],
input.login-password[type="search"],
input.login-password[type="tel"],
input.login-password[type="text"] {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
}
.login-password {
    width: 100%;
    padding: 10px 44px 10px 14px;
    border-radius: 0px 0px 4px 4px;
}
.login-login-button {
    width: 100%;
    padding: 0px 0px 21px;
    border-bottom: 1px solid rgba(154, 151, 161, 0.2);
    margin: 16px 0px 0px;
}
.login-login-button-click {
    background-color: rgb(248, 47, 98);
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: -0.1px;
    text-align: center;
    width: 100%;
    border-radius: 40px;
    font-size: 16px;
    line-height: 47px;
    height: 48px;
}
.login-login-button-click:disabled {
    opacity: 0.3;
}
.login-api-group { /* ul 태그 */
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
}
login-api-group::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
login-api-group::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.login-kakao {  /*카카오버튼*/
    vertical-align: top;
    width: 38px;
    height: 38px;
    background: url("/swan_stream/images/login/kakaologo.svg") 0% 0% / cover no-repeat;
}
login-kakao::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
login-kakao::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.login-naver {  /*네이버버튼*/
    vertical-align: top;
    width: 38px;
    height: 38px;
    background: url("/swan_stream/images/login/naverloginimg.svg") 0% 0% / cover no-repeat;
}
login-naver::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
login-naver::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.login-google {  /*네이버버튼*/
    vertical-align: top;
    width: 38px;
    height: 38px;
    background: url("/swan_stream/images/login/googleimg.svg") 0% 0% / cover no-repeat;
}
login-google::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
login-google::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}